<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Stripe Checkout Sample</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css')}}" />
    <script src="{{ url_for('static', filename='success.js')}}" defer></script>
  </head>

  <body>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>

        <div class="sr-payment-summary completed-view">
          <h1>Your payment succeeded</h1>
          <button onclick="window.location.href = '/';">Buy More</button>
        </div>
      </div>

      <div class="sr-content">
        <div class="pasha-image-stack">
          <img
            src="{{ url_for('static', filename='images/sun_flower.png')}}"
            width="140"
            height="160"
          />
          <img
            src="{{url_for('static', filename='images/blue_roses.jpg')}}"
            width="140"
            height="160"
          />
          <img
            src="{{ url_for('static', filename='images/lily.jpg')}}"
            width="140"
            height="160"
          />
          <img
            src="{{ url_for('static', filename='images/bonsai 2.jpg')}}"
            width="140"
            height="160"
          />
        </div>
      </div>
    </div>
  </body>
</html>
